<h1><u>Our Record</u></h1>
<h3>Bee Type: <%= @hive.bee_type%></h3>
<h3>Queen's Name: <%= @hive.queen_name%></h3>	
<h3>Honey Description: <%= @hive.honey_description%></h3>
<h3>Location:<%= @hive.location%></h3>
<%=link_to "edit", edit_hive_url%>
